$primary-color: #ffefe7;
$secundary-color: #ffdac6;
$tertiary-color: #babd8d;
$primary-text-color: #7c6a0a;
$quaternary: #fa9500;
$secondary-text-color: #e86424;
$font-stackl: "IBM Plex Sans", sans-serif;
$regular-size: calc(14px + (25 - 14) * ((100vw - 320px) / (1440 - 320)));
$medium-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1440 - 320)));
$large-size: calc(25px + (45 - 25) * ((100vw - 320px) / (1440 - 320)));

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-stackl;
}
body {
  background-color: $primary-color;
  color: $primary-text-color;
  margin: auto;
}
svg path {
  stroke: currentColor;
}
@mixin buttons {
  border: none;
  background: none;
  cursor: pointer;
}
@mixin flex($justify: null, $align: null) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
@mixin size-layout {
  max-width: 1400px;
  padding: 0 4vw;
  margin: auto;
}
nav {
  @include size-layout();
  width: 100%;
  padding: 2vw 1.5vw;
  @include flex($justify: space-between);
  align-items: center;
  border-bottom: 1px $tertiary-color solid;
  p {
    font-size: 30px;
    width: 100%;
  }
  button {
    padding: 5px;
    @include buttons();
    &:hover {
      background-color: $secundary-color;
      border-radius: 5px;
    }
  }
  .toggle {
    display: none;
    
    svg path {
      fill: currentColor;
    }
    svg {
      color: $primary-text-color;
      width: 35px;
      height: 35px;
    }
  }

  .icons-menu {
    @include flex($justify: end);
    gap: 25px;
    button {
      
      svg {
        color: $primary-text-color;
        width: 35px;
        height: 35px;
      }
    }
  }
}
article {
  @include size-layout();
  @include flex($justify: space-between, $align: center);
  margin-top: 6vw;
  .description {
    width: 55%;
    margin-right: 8vw;
    h1 {
      font-size: calc(28px + (54 - 28) * ((100vw - 320px) / (1440 - 320)));
    }
    p {
      font-size: $regular-size;
      margin: 4vw 0;
    }
    button {
      @include buttons();
      background: $quaternary;
      font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1440 - 320)));
      color: white;
      padding: 0.8rem 2rem;
      border-radius: 9999px;
      font-weight: 600;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .image {
    width: 45%;
    max-height: 680px;
    overflow: hidden;
    border-radius: 20px;
    @include flex($justify: center, $align: center);
    img {
      width: 100%;
    }
  }
}
section {
  @include size-layout();
  margin-top: 6vw;
  h2 {
    font-size: $large-size;
    font-weight: 300;
    margin: 6vw 0 4vw;
  }
  .healthcare {
    .container-products {
      @include flex($justify: center, $align: stretch);
      flex-wrap: wrap;
      gap: 2vw;
      .card {
        width: 300px;
        padding: 50px 40px;
        background-color: $secundary-color;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        svg path {
          stroke: currentColor;
        }
        svg {
          position: absolute;
          top: 12px;
          right: 12px;
          color: $primary-text-color;
          width: 30px;
          height: 30px;
        }
        .card-image {
          width: auto;
          height: 340px;
          @include flex(center, center);
          border-radius: 10px;
          overflow: hidden;
          img {
          width: auto;
          height: 100%;
          
        }
        }
        
        h3 {
          font-size: $regular-size;
          margin: 20px 0 8px;
        }
      }
    }
  }
  .furniture {
    @extend .healthcare;
    .container-products {
      .card {
        background-color: $tertiary-color;
        color: white;
        svg {
          color: white;
        }
      }
    }
  }
  .container-about-us {
    @include flex(center, center);
    max-width: 1200px;
    margin: auto;
    gap: 60px;
    div {
      @include flex(center, center);
      width: 50%;
      p {
        font-size: $regular-size;
        margin-left: 15px;
        color: $secondary-text-color;
        text-align: center;
      }
    }
  }
  .gallery {
    .container {
      @include flex(center, center);
      flex-wrap: wrap;
      gap: 40px;
      .image {
        @include flex(center, center);
        max-width: 400px;
        max-height: 400px;
        overflow: hidden;
        border-radius: 20px;
        img {
          width: 100%;
        }
      }
    }
  }
  .location {
    .map {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .address {
      font-size: $medium-size;
      margin-top: 3vw;
      font-weight: 600;
      color: $secondary-text-color;
    }
    .small-address {
      color: $secondary-text-color;
      font-size: $regular-size;
      margin-top: 8px;
      font-weight: 400;
    }
  }
}
footer {
  color: white;
  margin-top: 7vw;
  background-color: $quaternary;
  .container-footer {
    @include size-layout();
    padding: 25px;
    ul {
      li {
        list-style-type: none;
        margin-bottom: 15px;
      }
      .brand {
        font-size: $medium-size;
        font-weight: 600;
      }
    }
    .social-media {
      text-align: center;
      img {
        width:50px;
        height: 50px;
        padding: 20px 10px 0;
      }
    }
  }
}
@media (max-width: 768px) {
  nav {
    padding: 20px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    .toggle {
      position: absolute;
      top: 20px;
      right: 10px;
      display: inline-block;
    }
    .icons-menu {
      @include flex($justify: center, $align: null );
      width: 100%;
      margin-top: 20px;
    }
    .icons-menu--hidden {
      display: none;
    }
  }
  section {
    .healthcare {
      .container-products {
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        overflow-x: scroll;
        justify-content: initial;
        gap: 10px;
      }
    }
    .container-about-us {
      @include flex(center, center);
      flex-direction: column;
      max-width: 1200px;
      margin: auto;
      gap: 60px;
      div {
        @include flex(center, center);
        flex-direction: column;
        width: 100%;
        p {
          font-size: $regular-size;
          margin-left: 15px;
          color: $secondary-text-color;
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 425px) {
  article {
    flex-direction: column;
    padding: 20px;
    .description {
      width: 100%;
      margin: 40px auto 0;
      order: 2;
    }
    .image {
      width: 90%;
    }
  }}
